.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000014;
  padding: 1rem 2rem;
  color: #0ff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  text-shadow: 0 0 5px #0ff;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #0ff;
  font-weight: 600;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #fff;
  text-shadow: 0 0 10px #0ff;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background: #0ff;
  border-radius: 2px;
}
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    align-items: end;
    
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #000014;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.5rem 0;
    gap: 1rem;
    z-index: 9;
    box-shadow: 0 5px 20px #0ff3;
  }

  .nav-links.open {
    display: flex;
  }
}
